@tailwind base;
@tailwind components;
@tailwind utilities;

.success {
  color: rgb(13, 110, 0);
  background: rgb(193, 252, 179);
  font-size: 20px;
}
.fail {
  color: red;
  background: rgb(248, 186, 186);
  font-size: 20px;
}
